body{
    /* background-color: rgb(32,177,212); */
    width: 100%;
    height: 100%;
}
*{
    margin: 0px;
    padding: 0px;
}


#player{
	height: 80%;
	width: 55%;
	position: absolute;
	left: 22%;
	top: 15%;
	box-shadow: 5px 5px 10px 2px black ;
	-moz-box-shadow: 5px 5px 10px 2px black ;   		/* 老的 Firefox */
	background-color: white;
	max-width: 100%;
	border-radius: 15px;
}
#player>#video{
	width: 100%;
	height: 82.3%;
	position: absolute;
	top: 0;
	max-width: 100%;
	border-radius: 15px;
}
#player>#name{
	width: 100%;
	height: 15%;
	font-size: 30px;
	font-family: 华文行楷;
	position: absolute;
	top: 83%;
	overflow: auto;
	left: 1%;
}
#player>#author{
	width: 100%;
	height: 3%;
	font-size: 20px;
	font-family: 隶书;
	position: absolute;
	bottom: 9%;
	left: 2%;
	max-width: 100%;
	border-radius: 15px;
	color: rgb(40, 44, 44);
}
.annui{

	width: 752px;
	height: 100%;
	max-width: 100%;
	border-radius: 15px;
}

.annui::after{
	
	text-align: center;
}
